@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oswald&family=Roboto&display=swap');

@layer components {
	.myContainer {
		@apply container mx-auto px-6 py-14;
	}
	.sectionPrimary {
		@apply bg-gray-100 dark:bg-gray-900;
	}
	.centerAll {
		@apply flex flex-col justify-center items-center;
	}
	.centerAbsolute {
		@apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
	}
	.text-accent {
		@apply text-blue-400 dark:text-blue-300;
	}
	.text-high {
		@apply text-gray-900 dark:text-gray-100;
	}
	.text-medium {
		@apply text-gray-700 dark:text-gray-200;
	}
	.text-low {
		@apply text-gray-500 dark:text-gray-400;
	}
	.text-lowest {
		@apply text-gray-400 dark:text-gray-500;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
section {
	margin-left: 16rem;
}
@media only screen and (max-width: 640px) {
	section {
		margin-left: 0;
	}
}
h1 {
	font-family: 'Oswald', sans-serif;
}
p {
	font-family: 'Barlow', sans-serif;
}
